/* //////// THEME STYLES //////// */


	/* ///// COLORS /////*/
	
	@white: #fff;
	@black: #000;
	@gray: #777;
	@ghost: #333;
	@dark: #131313;


	@main-color: #FF540D;
	@second-color: #E82C0C;
	@third-color: #FF0000;
	@fourth-color: #E80C7A;
	@fifth-color: #FF0DFF;
	@overlay-color: #3c031f;

	@color1: @main-color;
	@color2: @second-color;
	@color3: @third-color;
	@color4: @fourth-color;
	@color5: @fifth-color;


	/* ///// FORMS ///// */

	@form-field-border-color: @gray; 
	@form-field-focus-border-color: @fifth-color; 

	/* ///// FONTS /////// */

	@big: 2em;

	/* ///// MENU NAVIGATION ///// */ 
	
	@menu-btn: @gray; 
	@menu-btn-over: @color4;
	@content-bg: @color4;
	@menu-border: @color4;
	@menu-font-color: @color4; 
	@menu-font-size: @big; 
	@menu-width: 350px; 





#content {
	.inner-hd {

		section {
			background: inherit;
		}


		h2 {
			font-size: 3em;
			text-align: center;
		}

		section {
			padding: 50px 0;
		}
		
	}
}