


html, body, [canvas=container], [off-canvas] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: inherit;
}

#content {
  background: #fff;
}

.menu-visible, .menu-visible > div  {
  
   overflow-x: hidden; 
    overflow-y: auto;
}


/* /////// CONTENT WHILE ACTIVE SIDEBAR ////// */
 

/**
 * Canvas
 */

[canvas] {
  z-index: 12;
 

		#over {		
			.transition(background .5 ease);
		}

	
}

[canvas=container] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: inherit; /* Basic background color, overwrite this in your own css. */
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
  .transition-property(transform);
      &.js-close-any-slidebar {     
        .transition-property(transform);
        .transition(background-color .25 ease);
        .transform(translate .25 ease);
       background-color: @ghost !important;
      

      .inner-hd {
        div, p, li, a, span, h1, h2, h3, form, b, button, input  {
        opacity: 0.3 !important;      
        color: @dark;   
        }
      }   
    }
}

[canvas=container]:before, [canvas=container]:after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Off-Canavs
 */

[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  background-color: @dark; /* Basic background color, overwrite this in your own css. */
  color: @white; /* Basic colors, overwrite this in your own css. */
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */

}

[off-canvas*=top] {
  width: 100%;
  top: 0;
}

[off-canvas*=right] {
  width: 255px;
  height: 100%;
  top: 0;
  right: 0;
}

[off-canvas*=bottom] {
  width: 100%;
  bottom: 0;
}

[off-canvas*=left] {
  width: 255px;
  height: 100%;
  top: 0;
  left: 0;
}

[off-canvas*=reveal] {
  z-index: 0;
}

[off-canvas*=push] {
  z-index: 1;
}

[off-canvas*=overlay] {
  z-index: 9999;
  bottom: 0;
}

[off-canvas*=shift] {
  z-index: 0;
}

/**
 * Animation
 */

[canvas], [off-canvas] {
  -webkit-transform: translate( 0px, 0px );
      -ms-transform: translate( 0px, 0px );
          transform: translate( 0px, 0px );
  -webkit-transition: -webkit-transform 300ms;
          transition:         transform 300ms;
  -webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=top] {
  -webkit-transform: translate( 0px, 50% );
          transform: translate( 0px, 50% );
}

[off-canvas*=shift][off-canvas*=right] {
  -webkit-transform: translate( -50%, 0px );
          transform: translate( -50%, 0px );
}

[off-canvas*=shift][off-canvas*=bottom] {
  -webkit-transform: translate( 0px, -50% );
          transform: translate( 0px, -50% );
}

[off-canvas*=shift][off-canvas*=left] {
  -webkit-transform: translate( 50%, 0px );
          transform: translate( 50%, 0px );
}

/**
 * Print
 */

@media print {
  [canvas] {
    -webkit-transform: translate( 0px, 0px ) !important;
        -ms-transform: translate( 0px, 0px ) !important;
            transform: translate( 0px, 0px ) !important;
  }

  [off-canvas] {
    display: none !important;
  }
}

[off-canvas] {
    padding: 10px 20px;
    padding-top: 5%;
}

[class*=js-] {
    cursor: pointer;
}